body{
    background-image: url('../img/Archivos\ finales_NOS\ VAMOS\ DE\ PLAN_Alcaldia\ BGA-1.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}


form{
    width: 1000px;
    margin: auto;
    background: rgba(0,0,0,0);
    padding: 10px 20px;
    box-sizing: border-box;
}

.imginit{
    margin: auto;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 2px;
}

#countarea{
    color: white;
    text-align: center;
    margin-top: -35px;
    font-size: 17px;
    text-align: center;
    width: 100%;
}

#twitarea{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
    text-align: center;
    width: 100%;
}

#textinitial{
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 20px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}

#textmid{
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 0;
    font-size: 17px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}


#checkboxinit{
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 0;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}
.containerinit {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: auto;
    }

    .containerinit-child {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        vertical-align: middle;
        }

#buttoninit{
    vertical-align: middle;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: -10px;
}


@media (max-width:480px) {
    form{
        width: 100%;
    }

    #countarea{
        color: white;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 15px;
        font-size: 17px;
        text-align: center;
        width: 100%;
    }

    #buttoninit{
        vertical-align: middle;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 5px;
    }

}
